.all-todos{
    width: 70%;
    margin: auto;
    background-color: rgb(241, 241, 241);

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .id{
            text-align: center;
        }
        p{
            padding: 0px 15px;
            width: 16%;
            // text-align: center;
        }
    }
    .item > *{
        width: 100%;
    }
}