.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(85, 85, 85);
    color: white;
    padding: 0px 20px;

    p{
        margin-right: 30px;
    }
    div{
        margin-left : auto;

        input, button{
            color: #4c4c4c;
            padding: 9px 10px;
            border-radius: 3px;
            border: none;
            outline: none;
            font-family: fantasy;
        }
        input{
            width: 130px;
        }
        button{
            background: none;
            border: 2px solid #6ee96e;
            color: #6ee96e;
            margin-left: 10px;
        }
        button:hover{
            cursor: pointer;
        }
    }

}